.Grid {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.Row {
  display: flex;
}

.Cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  height: 32px;
  width: 32px;
  border: 1px solid black;
  cursor: pointer;
}

.Cell.Bomb {
  background-color: black;
  color: white;
}

.Cell.Hidden {
  background-color: beige;
}

.Mine, .Flag {
  height: 32px;
  width: 32px;
}

.GameStatus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  font-size: 96px;
  visibility: hidden;
  font-family: 'KarmaFuture';
  background-color: black;
  box-shadow: 8px 6px 1px rgb(49, 47, 47);
  padding: 8px 16px;
}

.GameStatus.Failure {
  color: rgb(190, 21, 21);
}

.GameStatus.Success {
  color: rgb(45, 219, 45);
}

.GameStatus.Failure, .GameStatus.Success {
  visibility: visible;
}

img.Restart {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.MinesCount {
  font-family: 'KarmaFuture';
  font-size: 32px;
}

.FlagsCount {
  display: flex;
  align-items: center;
  font-family: 'KarmaFuture';
  font-size: 32px;
  position: relative;
  border-bottom: 1px dotted black;
}

.FlagsCount img {
  height: 32px;
  width: 32px;
}

.FlagsCount .TooltipText {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: 120px;
  background-color: rgba(66, 65, 65, 0.754);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
} 

.FlagsCount:hover .TooltipText {
  visibility: visible;
} 

.GridContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GridContainer header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 32px;
}