.Grid {
  display: flex;
  flex-direction: column;
}

.Row {
  display: flex;
}

.Cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border: 1px solid black;

}

.Cell.Bomb {
  background-color: black;
  color: white;
}

.Cell.Hidden {
  background-color: beige;
  color: beige;
}

.GameStatus {
  font-weight: bold;
  padding: 12px;
  visibility: hidden;
}

.GameStatus.Failure {
  color: rgb(127, 33, 33);
}

.GameStatus.Success {
  color: rgb(45, 219, 45);
}

.GameStatus.Failure, .GameStatus.Success {
  visibility: visible;
}
